html {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    height:100%;
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */

    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
body::-webkit-scrollbar {
    display: none; 
} 



/************************* *HEADER ***************************************************************/
header {
    background: radial-gradient(rgb(139,195,245), #1294b8);
    height: 100vh;
    width: 100%;
}
#headerLineWrapper {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
}
h1 {
    color: white;
    color: white;
    margin: 0.45em 35px;
}
#headerLineWrapper nav {
    margin-block-start: 1em;
    margin-block-end: 1em;
}
#headerLineWrapper ul {
    display: inline-flex;
    list-style-type: none;
}
#tabList li {
    transition: all 0.5s;
    cursor: pointer;
}
#tabList li:hover {
    color: rgb(221, 221, 221);
}
#headerContentWrapper {
    margin: 3% 10%;
    display: inline-flex;
    width: 80%;
    justify-content: space-around;
}
#svgHeader {
    width: 500px;
}
#headerTextsWrapper {
    margin-right: 223px;
    margin-top: 20px;
    position: relative;
    left: 120px;
    transform: scale(1.1);
}
#headerText1 {
    font-size: 2.1em;
    font-weight: bold;
}
#headerText2 {
    
}
nav li {
    color: white;
    margin: 0 10px;
}
#socialList li {
    margin: 0 -12px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-facebook {
    background: rgba(59, 88, 152, 0);
    color: white;
}
.fa-twitter {
    background: rgba(59, 88, 152, 0);
    color: white;
}
.fa-instagram {
    background: rgba(59, 88, 152, 0);
    color: white;
}
.fa-skype {
    color: white;
    font-size: 2em;
}
.fa-solid {
    color: white;
    font-size: 2em;
}
.black {
    color: black !important;
    background-color: white;
    border-radius: 100px;
    font-size: 20px;
    width: 15px;
}

.mid {
    transform: translateX(-9px);
}





/************************** MAIN ***************************************************************/
main {
    height: 100vh;
    width: 100%;

}
#contentHeaderWrapper {
    text-align: center;
    width: 30%;
    margin: 0 auto;

}
#contentHeaderWrapper p {
    font-size: 80%;
    color: rgba(127, 127, 127, 1);
}
#contentListBoxes {
    list-style-type: none;
    display: inline-flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;

    margin: 30px auto;
    width: 100%;
    justify-content: center;
}
#contentListBoxes li {
    color: white;
    margin: 0 10px;
    padding: 50px 20px;
    background: radial-gradient(rgb(139,195,245), #1294b8);
    border-radius: 7px;
    width: 220px;
    height: 150px;

    position: relative;
    transition: all 0.5s;
}
.centered {
    text-align: center;
}
.contentBoxText {
    font-size: 0.8em;
}
.centeredIcon {
    text-align: center;
    width: 100%;
}

#contentListPoeple {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    display: inline-flex;

    text-align: center;
}
.contentListPoepleLi {
    display: inline-flex;
    flex-direction: column;
    margin: 0 30px;
}

#contentListPoeple li img {
    width: 130px;
    height: 130px; 
    /* overflow: hidden; */

    filter: grayscale(1);
    transition: all 0.5s;
}
#contentListPoeple li img:hover {
    /* overflow: hidden; */

    transform: scale(1.2);
    filter: grayscale(0);
    cursor: pointer;
}
.peopleImgWrapper {
    width: 130px;
    height: 130px;
    border-radius: 100px;

    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
}

#contentHeaderWrapper2 {
    text-align: center;
    width: 40%;
    margin: 0 auto;

}
#contentHeaderWrapper2 p {
    font-size: 80%;
    color: rgba(127, 127, 127, 1);
}

#contentBlogWrapper {
    text-align: center;
    width: 40%;
    margin: 0 auto;

}
#contentBlogWrapper p {
    font-size: 80%;
    color: rgba(127, 127, 127, 1);
}


#contentListBlog img {
    width: 300px;
    height: 220px;
    border-radius: 5px;
    z-index: 55;
}
#contentListBlog li {
    width: 300px;
    margin: 0 20px;
}

#contentListBlog {
    display: inline-flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    list-style-type: none;
}


#blogImgText1, #blogImgText2, #blogImgText3 {
    position: absolute;
    opacity: 0;
    color: white;
    z-index: 999;
    margin: 20px;

    transition: all 0.5s;
}
#blogImg1, #blogImg2, #blogImg3 {
    transition: all 0.5s;
}

#blog1hoverDiv, #blog2hoverDiv, #blog3hoverDiv {
    cursor: pointer;
}

#blog1hoverDiv:hover #blogImg1 {
    filter: brightness(0.6);
}
#blog1hoverDiv:hover #blogImgText1 {
    opacity: 1;
}
#blog2hoverDiv:hover #blogImg2 {
    filter: brightness(0.6);
}
#blog2hoverDiv:hover #blogImgText2 {
    opacity: 1;
}
#blog3hoverDiv:hover #blogImg3 {
    filter: brightness(0.6);
}
#blog3hoverDiv:hover #blogImgText3 {
    opacity: 1;
}

.blogDate {
    font-size: 0.7em;
}

#contentListBlog h5 {
    font-size: 1.0em;
    margin-block-start: 5px;
    margin-block-end: 10px;
}
#contentListBlog .blogText {
    font-size: 0.8;
}
#contentListBlog .blogReadmore {
    color: #075b83;
    font-size: 0.8em;
    font-weight: 500;
    cursor: pointer;
}


#box1, #box2, #box3 {
    position: relative;
    bottom: 0;
    transition: all 0.5s;
}
#box1:hover {
    bottom: 7px;
}
#box2:hover {
    bottom: 7px;
}
#box3:hover {
    bottom: 7px;
}



.poepleHeader, .peopleFooter {
    font-weight: bold;
}
.greyed {
    color: rgba(127, 127, 127, 1);
    font-size: 0.7em;
    font-weight: 400 !important;

    position: relative;
    bottom: 10px;
}

.peopleImgWrapper {
    position: relative;
}
.peopleImgSocialList {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    padding-inline-start: 0px;
    z-index: 999;

    /* top: 20px; */
    top: 5px;
    left: -25px;
    transition: all 0.5s;
}



#people1:hover #people1Social  {
    top: 24px !important;
    left: 11px !important;
}
#people2:hover #people2Social  {
    top: 24px !important;
    left: 11px !important;
}
#people3:hover #people3Social  {
    top: 24px !important;
    left: 11px !important;
}
#people4:hover #people4Social  {
    top: 24px !important;
    left: 11px !important;
}

.peopleImgSocialList li {
    height: 27px;
}
.peopleImgSocialList li a {
    padding: 3px;
}


#parallax {
    width: 100%;
    height: 60vh;
    position: relative;


    color: white;
    text-align: center;
}
#parallaxImg {
    filter: brightness(0.4);
    background-image: url("img/parallax.png");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
}
#parallaxContent {
    position: absolute;
    width: 70%;
    margin: 0 auto;
    vertical-align: bottom;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#parallaxTitle {
    font-size: 1.7em;
    font-weight: 500;
}
#parallaxText {

}
#parallaxButton {
    position: relative;
    padding: 10px 25px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(240 248 255 / 0%);
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;

    transition: all 0.5s linear;
}
#parallaxButton:hover {
    background-color: white;
    color: rgb(0, 0, 0);

    bottom: 1px;
}




/************************** FOOTER ***************************************************************/
footer {
    height: 10vh;
    width: 100%;
    background-color: #26272b;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}