html {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    height:100%;
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */

    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
body::-webkit-scrollbar {
    display: none; 
} 



/************************* *HEADER ***************************************************************/
header {
    background: radial-gradient(rgb(139,195,245), #1294b8);
    height: 100vh;
    width: 100%;
}
#headerLineWrapper {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
}
h1 {
    color: white;
    color: white;
    margin: 0.45em 35px;
}
#headerLineWrapper nav {
    margin-block-start: 1em;
    margin-block-end: 1em;
}
#headerLineWrapper ul {
    display: inline-flex;
    list-style-type: none;
}
#tabList li {
    transition: all 0.5s;
    cursor: pointer;
}
#tabList li:hover {
    color: rgb(221, 221, 221);
}
#headerContentWrapper {
    margin: 3% 10%;
    display: inline-flex;
    width: 80%;
    justify-content: space-around;
}
#svgHeader {
    width: 500px;
}
#headerTextsWrapper {
    margin-right: 223px;
    margin-top: 20px;
    position: relative;
    left: 120px;
    transform: scale(1.1);
}
#headerText1 {
    font-size: 2.1em;
    font-weight: bold;
}
#headerText2 {
    
}
nav li {
    color: white;
    margin: 0 10px;
}
#socialList li {
    margin: 0 -12px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-facebook {
    background: rgba(59, 88, 152, 0);
    color: white;
}
.fa-twitter {
    background: rgba(59, 88, 152, 0);
    color: white;
}
.fa-instagram {
    background: rgba(59, 88, 152, 0);
    color: white;
}
.fa-solid {
    color: white;
    font-size: 2em;
}





/************************** MAIN ***************************************************************/
main {
    height: 100vh;
    width: 100%;

}
#contentHeaderWrapper {
    text-align: center;
    width: 30%;
    margin: 0 auto;

}
#contentHeaderWrapper p {
    font-size: 80%;
    color: rgba(127, 127, 127, 1);
}
#contentListBoxes {
    list-style-type: none;
    display: inline-flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;

    margin: 30px auto;
    width: 100%;
    justify-content: center;
}
#contentListBoxes li {
    color: white;
    margin: 0 10px;
    padding: 50px 20px;
    background: radial-gradient(rgb(139,195,245), #1294b8);
    border-radius: 7px;
    width: 220px;
    height: 150px;
}
.centered {
    text-align: center;
}
.contentBoxText {
    font-size: 0.8em;
}
.centeredIcon {
    text-align: center;
    width: 100%;
}

#contentListPoeple {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    display: inline-flex;

    text-align: center;
}
#contentListPoeple li {
    display: inline-flex;
    flex-direction: column;
    margin: 0 30px;
}

#contentListPoeple li img {
    width: 100px;
    height: 100px; 
    /* overflow: hidden; */

    filter: grayscale(1);
    transition: all 0.5s;
}
#contentListPoeple li img:hover {
    /* overflow: hidden; */

    transform: scale(1.2);
    filter: grayscale(0);
    cursor: pointer;
}
.peopleImgWrapper {
    width: 100px;
    height: 100px;
    border-radius: 100px;

    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
}

#contentHeaderWrapper2 {
    text-align: center;
    width: 40%;
    margin: 0 auto;

}
#contentHeaderWrapper2 p {
    font-size: 80%;
    color: rgba(127, 127, 127, 1);
}

.poepleHeader, .peopleFooter {
    font-weight: bold;
}
.greyed {
    color: rgba(127, 127, 127, 1);
    font-size: 0.7em;
    font-weight: 400 !important;

    position: relative;
    bottom: 10px;
}


/************************** FOOTER ***************************************************************/
footer {
    height: 10vh;
    width: 100%;
    background-color: #26272b;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}