#subscribeInputLine {
    display: inline-flex;
    overflow: hidden;
}

.pricingFlexResp {
    display: block;
}

a {
    text-decoration: none;
    color: #7f7f7f;
}

html {
    height: 100%;
    box-sizing: border-box;
}

ul {
    padding-inline-start: 0;
}

input:focus {
    outline: none;
}

body {
    margin: 0;
    height:100%;
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */

    -ms-overflow-style: none;  
    scrollbar-width: none;  

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
body::-webkit-scrollbar {
    display: none; 
} 

#scrollToTop {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #3e3e3e;
    border-radius: 100px;

    cursor: pointer;
    bottom: 25px;
    right: 25px;

    opacity:0;

    z-index: 999;
}
.fadeInScroolToTop {
    animation: fadeInScroolToTop 0.7s forwards ease;
}
@keyframes fadeInScroolToTop { 
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 
#scrollToTopArrow {
    position: relative;
    font-size: 1.2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
}
.topnav .iconBurger {
    display: none;
  }



/************************* *HEADER ***************************************************************/
header {
    background: radial-gradient(rgb(139,195,245), #1294b8);
    height: 100vh;
    width: 100%;
}
#headerLineWrapper {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 10px;
}
h1 {
    color: white;
    color: white;
    margin: 0.45em 35px;
}
#headerLineWrapper nav {
    margin-block-start: 1em;
    margin-block-end: 1em;
}
nav {
    display: inline-flex;
    list-style-type: none;
}
#headerLineWrapper ul {
    display: inline-flex;
    list-style-type: none;
} 
/* #myTopnav {
    overflow: hidden;
} */
/* #myTopnav a {
    transition: all 0.5s;
    cursor: pointer;


        float: left;
        display: block;
}
#myTopnav a:hover {
    color: rgb(221, 221, 221);
} */
/* #myTopnav .iconBurger {
    display: none;
  } */
#headerContentWrapper {
    margin: 3% 10%;
    display: inline-flex;
    width: 80%;
    justify-content: space-around;
}
#svgHeader {
    width: 500px;
}
#headerTextsWrapper {
    margin-right: 223px;
    margin-top: 40px;
    position: relative;
    left: 120px;
    transform: scale(1.1);
}
#headerText1 {
    font-size: 2.1em;
    font-weight: bold;
    color: #132639;
}
#headerText2 {
    
}
nav a {
    color: white;
    margin: 0 10px;
}
#socialList li {
    margin: 0 -12px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-facebook {
    background: rgba(59, 88, 152, 0);
    color: white;
}
.fa-twitter {
    background: rgba(59, 88, 152, 0);
    color: white;
}
.fa-instagram {
    background: rgba(59, 88, 152, 0);
    color: white;
}
.fa-skype {
    color: white;
    font-size: 2em;
}
.fa-solid {
    color: white;
    font-size: 2em;
}
.black {
    color: black !important;
    background-color: white;
    border-radius: 100px;
    font-size: 20px;
    width: 15px;
}

.mid {
    transform: translateX(-9px);
}


#subscribeInput {
    width: 300px;
    border-radius: 51px;
    padding: 8px;
    border: 0px;
    background-color: #dddddd;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7em;
}
#subscribeSubmit {
    position: relative;
    right: 84px;
    transform: scale(0.9);
    /* transform: translateY(3px); */
    border: 0px;
    padding: 5px 15px;
    border-radius: 21px;
    font-size: 0.7em;
    color: white;
    background-color: #4094b9;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    cursor: pointer;
}




/************************** MAIN ***************************************************************/
main {
    height: 100vh;
    width: 100%;

}
#contentHeaderWrapper {
    text-align: center;
    width: 30%;
    margin: 0 auto;

}
#contentHeaderWrapper p {
    font-size: 80%;
    color: rgba(127, 127, 127, 1);
}
#contentListBoxes {
    list-style-type: none;
    display: inline-flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;

    margin: 30px auto;
    width: 100%;
    justify-content: center;
}
#contentListBoxes li {
    color: white;
    margin: 0 10px;
    padding: 50px 20px;
    background: radial-gradient(rgb(139,195,245), #1294b8);
    border-radius: 7px;
    width: 220px;
    height: 150px;

    position: relative;
    transition: all 0.5s;
}
.centered {
    text-align: center;
}
.contentBoxText {
    font-size: 0.8em;
}
.centeredIcon {
    text-align: center;
    width: 100%;
}

#contentListPoeple {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    display: inline-flex;
    padding-inline-start: 0;

    text-align: center;
}
.contentListPoepleLi {
    display: inline-flex;
    flex-direction: column;
    margin: 0 30px;
}

#contentListPoeple li img {
    width: 130px;
    height: 130px; 
    /* overflow: hidden; */

    filter: grayscale(1);
    transition: all 0.5s;
}
#contentListPoeple li img:hover {
    /* overflow: hidden; */

    transform: scale(1.2);
    filter: grayscale(0);
    cursor: pointer;
}
.peopleImgWrapper {
    width: 130px;
    height: 130px;
    border-radius: 100px;

    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
}

#contentHeaderWrapper2 {
    text-align: center;
    width: 40%;
    margin: 0 auto;

}
#contentHeaderWrapper2 p {
    font-size: 80%;
    color: rgba(127, 127, 127, 1);
}

#contentBlogWrapper {
    text-align: center;
    width: 40%;
    margin: 0 auto;

}
#contentBlogWrapper p {
    font-size: 80%;
    color: rgba(127, 127, 127, 1);
}


#contentListBlog img {
    width: 300px;
    height: 220px;
    border-radius: 5px;
    z-index: 55;
}
#contentListBlog li {
    width: 300px;
    margin: 0 20px;
    padding-inline-start: 0;
}

#contentListBlog {
    display: inline-flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    list-style-type: none;
    padding-inline-start: 0;

}


#blogImgText1, #blogImgText2, #blogImgText3 {
    position: absolute;
    opacity: 0;
    color: white;
    z-index: 999;
    margin: 20px;

    transition: all 0.5s;
}
#blogImg1, #blogImg2, #blogImg3 {
    transition: all 0.5s;
}

#blog1hoverDiv, #blog2hoverDiv, #blog3hoverDiv {
    cursor: pointer;
}

#blog1hoverDiv:hover #blogImg1 {
    filter: brightness(0.6);
}
#blog1hoverDiv:hover #blogImgText1 {
    opacity: 1;
}
#blog2hoverDiv:hover #blogImg2 {
    filter: brightness(0.6);
}
#blog2hoverDiv:hover #blogImgText2 {
    opacity: 1;
}
#blog3hoverDiv:hover #blogImg3 {
    filter: brightness(0.6);
}
#blog3hoverDiv:hover #blogImgText3 {
    opacity: 1;
}

.blogDate {
    font-size: 0.7em;
}

#contentListBlog h5 {
    font-size: 1.0em;
    margin-block-start: 5px;
    margin-block-end: 10px;
}
#contentListBlog .blogText {
    font-size: 0.8;
}
#contentListBlog .blogReadmore {
    color: #075b83;
    font-size: 0.8em;
    font-weight: 500;
    cursor: pointer;
}

#fixedGear {
    position: fixed;
    width: 50px;
    height: 50px;
    left: -1px;
    top: 20%;
    background-color: #3e3e3e;
    border-radius: 3px;
    z-index: 999;

    cursor: pointer;
}

#gearIcon {
    color: white;
    font-size: 20px;
    position: relative;
    top: 30%;
    left: 30%;
    /* transform: translate(-50%, -50%); */

    animation: gearRotate 6s infinite linear;
}
@keyframes gearRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


#box1, #box2, #box3 {
    position: relative;
    bottom: 0;
    transition: all 0.5s;
}
#box1:hover {
    bottom: 7px;
}
#box2:hover {
    bottom: 7px;
}
#box3:hover {
    bottom: 7px;
}



.poepleHeader, .peopleFooter {
    font-weight: bold;
}
.greyed {
    color: rgba(127, 127, 127, 1);
    font-size: 0.7em;
    font-weight: 400 !important;

    position: relative;
    bottom: 10px;
}

.peopleImgWrapper {
    position: relative;
}
.peopleImgSocialList {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    padding-inline-start: 0px;
    z-index: 999;

    /* top: 20px; */
    top: 5px;
    left: -25px;
    transition: all 0.5s;
}



#people1:hover #people1Social  {
    top: 24px !important;
    left: 11px !important;
}
#people2:hover #people2Social  {
    top: 24px !important;
    left: 11px !important;
}
#people3:hover #people3Social  {
    top: 24px !important;
    left: 11px !important;
}
#people4:hover #people4Social  {
    top: 24px !important;
    left: 11px !important;
}

.peopleImgSocialList li {
    height: 27px;
}
.peopleImgSocialList li a {
    padding: 3px;
}


#parallax {
    width: 100%;
    height: 60vh;
    position: relative;


    color: white;
    text-align: center;
}
#parallaxImg {
    filter: brightness(0.4);
    background-image: url("img/parallax.png");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
}
#parallaxContent {
    position: absolute;
    width: 70%;
    margin: 0 auto;
    vertical-align: bottom;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#parallaxTitle {
    font-size: 1.7em;
    font-weight: 500;
}
#parallaxText {

}
#parallaxButton {
    position: relative;
    padding: 10px 25px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(240 248 255 / 0%);
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;

    transition: all 0.5s linear;
}
#parallaxButton:hover {
    background-color: white;
    color: rgb(0, 0, 0);

    bottom: 1px;
}


#pricingHeader {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}
#pricingHeaderLeft {
    display: inline-flex;
    flex-direction: column;
    width: 30%;
}
#pricingHeaderRightImg {
    width: 30%;
    max-height: 400px;
    margin-left: 50px;
}

#pricingHeaderLeft h5 {
    font-size: 1.1em;
}

#pricingHeaderLeftStats {
    display: inline-flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

#stat1 {
    /* margin-left: 15px; */
    font-weight: 700;
    font-size: 1.2em;
}
#stat2 {
    margin-left: 15px;
    font-weight: 700;
    font-size: 1.2em;
}

.grisedStats {
    font-size: 0.8em;
    color: #7f7f7f;
    font-weight: 500;
}

#pricingButton {
    padding: 10px 20px;
    background-color: #3f8efd;
    border-radius: 5px;
    width: 150px;
    color: white;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    border: 0px solid white;
    margin: 10px 0px 20px 0px;

    cursor: pointer;
}



#pricingContent {
    padding: 10px 30px 70px 30px;
    background-color: #f3f3f3;
    width: 70%;
    margin: 0 auto;
}

#pricingContent h4 {
    text-align:center;
    margin-block-start: 10px;
    margin-block-end: 5px;
    font-size: 1.6em;
}
#pricingContent h6 {
    text-align:center;
}
#pricingText {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 55px;
    font-size: 80%;
    color: rgba(127, 127, 127, 1);
}


#offersDiv {
    display: inline-flex;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
}
.offerCard {
    margin: 0 15px;
    background-color: white;
    padding: 20px;
    border-radius: 11px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.4));
    width: 250px;
}

.fa-circle-check {
    color: #00b300;
}
.fa-circle-xmark {
    color: red;
}

.priceText {
    text-align: center;
    color: #7f7f7f;
    font-size: 0.7em;
}
.dollarPrice {
    font-size: 2.1em;
    font-weight: 400;
    color: #3983eb;
    position: relative;
    bottom: 20px;
}
.priceNbr {
    color: #3983eb;
    font-size: 4.7em;
}

#label {
    position: absolute;
    width: 33px;
    padding: 9px;
    top: 0;
    right: 0;
    background-color: #3478d8;
    color: white;
    line-height: 15px;
    margin-block-start: 0;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    font-weight: 200;
}

.offerList {
    list-style-type: none;
    margin-block-start: 20px;
    margin-block-end: 28px;
    line-height: 31px;
    padding-inline-start: 0;
}
.offerList span {
    float: right;
}
.offerElevated {
    position: relative;
    bottom: 15px;
}

.offerButton {
    width: 100%;
    border-radius: 5px;
    padding: 10px 0px;
    border: 0px;
    background-color: #3f8efd;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    /* letter-spacing: 1px; */
    cursor: pointer;
}

.offerCard h6 {
    font-size: 1em;
    text-align: center;
    margin-block-start: 7px;
    margin-block-end: 0px;
}


#testimonialsDiv {
    text-align: center;
}
#brandList {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    list-style-type: none;
    padding-inline-start: 0;
    margin: 50px 0;
}

#brandList li img {
    width: 120px;
    opacity: 0.5;
    bottom: 0px;
    position: relative;
    transition: all 0.5s;
}
#brandList li img:hover {
    opacity: 1;
    cursor: pointer;
    bottom: 10px;
}

#testimonialsHeader {
    width: 40%;
    margin: 0 auto;
}
#testimonialsHeader h2 {
    color: #4094b9;
    font-weight: 600;
    font-size: 2em;
}
#testimonialsHeader p {
    font-size: 110%;
    color: rgba(127, 127, 127, 1);
    margin-bottom: 50px;
}

.testimonialsPeopleImg {
    width: 90px;
    border-radius: 100px;
}
.testimonialQuote {
    color: #4094b9;
    position: absolute;
    background-color: white;
    padding: 6px 8px;
    border-radius: 100px;
    font-size: 1.3em;

    transform: translateX(-24px);
}

.swiper {
    width: 60%;
    height: 300px;
}
.swiper-container {
    width: 60%;
    height: 320px;
}

.testimonialNames {
    font-size: 1.7em;
    font-weight: 500;
    margin-block-end: 0;
}
.testimonialCities {
    margin-block-start: 0;
    font-weight: 500;
    color: rgb(178 178 178);
}

swiper-slide {
    /* margin: 0 500px; */
}


/************************** FOOTER ***************************************************************/



#wrapperMaster {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex:1; /* 4 */
}
footer {
    width: 100%;
    height: 170px; 
    background-color: #26272b;
    color: #919191;
    font-size: 0.8em;

    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
footer ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0 auto;
}

#footerList1 {
    display: inline-flex;
    width: 20%;
    margin: 0 auto;
    justify-content: space-around;
}
#footerList1 li {
    padding: 8px 11px;
    border: 2px solid rgb(145 145 145 / 80%);
    border-radius: 100px;
}
#footerList1 li:hover {
    color: rgba(226, 226, 226, 0.8);
    cursor: pointer;
    border: 2px solid rgba(226, 226, 226, 0.8);
}
.offerButton, #pricingButton {
    transition: all 0.3s;
}

.offerButton:hover, #pricingButton:hover {
    background-color: #2b71d3;
}
.topnav a:hover {
    cursor: pointer;
}
#googleFooter {
    padding: 8px !important;
    border: 2px solid rgb(145 145 145 / 80%);
    border-radius: 100px;
}
#footerList2 {
    display: inline-flex;
    margin: 15px auto;
}
#footerList2 li {
    padding: 0 25px;
}
.borderRight {
    border-right: 2px solid rgb(145 145 145 / 80%);
}

.twitterFooter {
    color: #707070;
}

footer p {
    margin-block-start: 0;
    margin-block-end: 0;
}